// .bc-table {
//     tr {
//       display: flex;
//     }
//     .value,
//     .code {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//     }
//     td,
//     th {
//       display: flex;
//       width: 15%;
//       justify-content: center;
//       align-items: center;
//       span {
//         font-size: 14px;
//       }
//     }
//     .big-part {
//       width: 35%;
//     }
//     .medium-part {
//       width: 20%;
//     }

//     height: fit-content;
//     overflow-y: hidden;
//     .table {
//       height: fit-content;
//       thead {
//         display: table;
//         // background-color: #C1C1C1;
//        background-image: linear-gradient(to right,  #0F2535 , #08052B  100%) !important;
//   color: white;
//         table-layout: fixed;
//         width: 100%;
//       }
//       tbody {
//         overflow-y: auto;
//         display: block;
//         max-height: 22em;

//         tr:hover {
//           animation: tdanimation 1s infinite;
//           animation-direction: alternate;
//           animation-delay: 0s;
//           background-color: #6c757d75;
//           span:hover {
//             color: #17a2b8;
//           }
//         }
//       }
//     }
//   }

//   .lig-table {
//     tr {
//       display: flex;
//     }
//     .value,
//     .code {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//     }
//     td{
//       display: flex;
//       width: 8%;
//       justify-content: center;
//       align-items: center;
//       font-size: 16px;
//       span {
//         font-size: 14px;
//       }
//     }
//     th {
//       display: flex;
//       width: 8%;
//       justify-content: center;
//       align-items: center;
//       font-size: 12px;
//       span {
//         font-size: 14px;
//       }
//     }
//     .big-part {
//       width: 31%;
//     }
//     .medium-part {
//       width: 20%;
//     }

//     height: fit-content;
//     overflow-y: hidden;
//     margin-bottom: -20px;

//     .table {
//       height: fit-content;
//       thead {
//         display: table;
//         // background-color: #add9e0;
//         background-image: linear-gradient(to right,  #eee , #eee  100%) !important;
//   color: black;
//         table-layout: fixed;
//         width: 100%;
//       }
//       tbody {
//         overflow-y: auto;
//         display: block;
//         max-height: 17em;

//         tr:hover {
//           animation: tdanimation 1s infinite;
//           animation-direction: alternate;
//           animation-delay: 1s;
//           background-color: #6c757d75;
//           span:hover {
//             color: #17a2b8;
//           }
//         }
//       }
//     }
//   }

//   .ligbc-table {
//     tr {
//       display: flex;
//     }
//     .value,
//     .code {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//     }
//     td{
//       display: flex;
//       width: 8%;
//       justify-content: center;
//       align-items: center;
//       font-size: 16px;
//       span {
//         font-size: 14px;
//       }
//     }
//     th {
//       display: flex;
//       width: 8%;
//       justify-content: center;
//       align-items: center;
//       font-size: 12px;
//       span {
//         font-size: 14px;
//       }
//     }
//     .big-part {
//       width: 31%;
//     }
//     .medium-part {
//       width: 20%;
//     }

//     height: fit-content;
//     overflow-y: hidden;
//     margin-bottom: -20px;

//     .table {
//       height: fit-content;
//       thead {
//         display: table;
//         // background-color: #add9e0;
//         background-image: linear-gradient(to right,  #eee , #eee  100%) !important;
//   color: black;
//         table-layout: fixed;
//         width: 100%;
//       }
//       tbody {
//         overflow-y: auto;
//         display: block;
//         max-height: 10em;

//         tr:hover {
//           animation: tdanimation 1s infinite;
//           animation-direction: alternate;
//           animation-delay: 1s;
//           background-color: #6c757d75;
//           span:hover {
//             color: #17a2b8;
//           }
//         }
//       }
//     }
//   }

//   .liga-table {
//     tr {
//       display: flex;
//     }
//     .value,
//     .code {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//     }
//     td{
//       display: flex;
//       width: 8%;
//       justify-content: center;
//       align-items: center;
//       font-size: 16px;
//       span {
//         font-size: 14px;
//       }
//     }
//     th {
//       display: flex;
//       width: 8%;
//       justify-content: center;
//       align-items: center;
//       font-size: 12px;
//       span {
//         font-size: 14px;
//       }
//     }
//     .big-part {
//       width: 31%;
//     }
//     .medium-part {
//       width: 20%;
//     }

//     height: fit-content;
//     overflow-y: hidden;
//     .table {
//       height: fit-content;
//       thead {
//         display: table;
//         // background-color: #add9e0;
//         background-image: linear-gradient(to right,  #eee , #eee  100%) !important;
//   color: black;
//         table-layout: fixed;
//         width: 100%;
//       }
//       tbody {
//         overflow-y: auto;
//         display: block;
//         max-height: 17em;

//         tr:hover {
//           animation: tdanimation 1s infinite;
//           animation-direction: alternate;
//           animation-delay: 1s;
//           background-color: #6c757d75;
//           span:hover {
//             color: #17a2b8;
//           }
//         }
//       }
//     }
//   }

//   @media
// only screen and (min-width: 760px)
//  {
//   tr {
//     display: flex;
//   }
//   tr:nth-of-type(even) {
//     background: #eee;
//   }

//   td,
//   th {
//     display: flex;
//     width: 10%;
//     justify-content: center;
//     align-items: center;
//     padding: 10px;
//     text-align: center;
//     span {
//       font-size: 14px;
//     }
//   }
//  th {
//   background: #CECECE;
//   color: black;

//  }
//   table {
//     height: fit-content;
//     thead {
//       display: table;
//        background: #eee;
//      // background-image: linear-gradient(to right,  #eee , #eee  100%) !important;
// color: black;
//       table-layout: fixed;
//       width: 100%;
//     }
//     tbody {
//       overflow-y: auto;
//       display: block;
//       max-height: 22em;

//       tr:hover {
//         animation: tdanimation 1s infinite;
//         animation-direction: alternate;
//         animation-delay: 0s;
//         background-color: #6c757d75;
//         span:hover {
//           color: #17a2b8;
//         }
//       }
//     }
//   }
// }

.tabd28 {
  tr {
    display: flex;
  }
  tr:nth-of-type(even) {
    background: #eee;
  }

  td,
  th {
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    span {
      font-size: 12px;
    }
  }
  th {
    background: #b8d0e8;
    color: #020f64;
  }
  table {
    height: fit-content;
    thead {
      display: table;
      background: #eee;
      // background-image: linear-gradient(to right,  #eee , #eee  100%) !important;
      color: black;
      table-layout: fixed;
      width: 100%;
    }
    tbody {
      overflow-y: auto;
      display: block;
      max-height: 22em;

      tr:hover {
        animation: tdanimation 1s infinite;
        animation-direction: alternate;
        animation-delay: 0s;
        background-color: #6c757d75;
        span:hover {
          color: #17a2b8;
        }
      }
    }
  }
}

.tabd {
  tr {
    display: flex;
  }
  tr:nth-of-type(even) {
    background: #eee;
  }

  td,
  th {
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    span {
      font-size: 13px;
    }
  }
  th {
    background: #b8d0e8;
    color: #020f64;
  }
  table {
    height: fit-content;
    thead {
      display: table;
      background: #eee;
      // background-image: linear-gradient(to right,  #eee , #eee  100%) !important;
      color: black;
      table-layout: fixed;
      width: 100%;
    }
    tbody {
      overflow-y: auto;
      display: block;
      max-height: 33em;

      tr:hover {
        animation: tdanimation 1s infinite;
        animation-direction: alternate;
        animation-delay: 0s;
        background-color: #6c757d75;
        span:hover {
          color: #17a2b8;
        }
      }
    }
  }
}
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .tabd28 {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid #ccc;
    }
    tr:nth-of-type(even) {
      background: #eee;
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      width: auto;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    /*
	Label the data
	*/
    td:nth-of-type(1):before {
      content: "Code";
    }
    td:nth-of-type(2) {
      display: none;
    }
    td:nth-of-type(3):before {
      content: "Quantité";
    }

    td:nth-of-type(4):before {
      content: "PU HT";
    }

    td:nth-of-type(5):before {
      content: "Remise";
    }
    td:nth-of-type(6):before {
      content: "TVA";
    }
    td:nth-of-type(7):before {
      content: "Total HT";
    }
  }
  .tabd {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid #ccc;
    }
    tr:nth-of-type(even) {
      background: #eee;
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      width: auto;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    /*
	Label the data
	*/
    td:nth-of-type(1):before {
      content: "№";
    }
    td:nth-of-type(2):before {
      content: "Date";
    }
    td:nth-of-type(3):before {
      content: "Code client";
    }
    // td:nth-of-type(4):before {
    //   content: "Raison Sociale";
    // }
    td:nth-of-type(4) {
      display: none;
    }
    td:nth-of-type(5):before {
      content: "Montant";
    }
  }
}
